.volume {
  margin-left: 15px;
  display: flex;
  flex: 0.2;

  .volume-icon {
    flex: 0.3;

    .fa {
      font-size: 18px;
      color: #9E9E9E;

      &:hover {
        cursor: pointer;
      }
    }

    .fa-volume-off {
      color: #ff1100;
    }
  }

  .volume-slider {
    flex: 1;
  }
}