.sign-in-container {
  position: relative;
  overflow: hidden;

  .stepper-section {
    padding: 0 10px 15px 10px;
  }

  .error-section {
    padding: 5px 20px;
    background: red;
    color: white;
    font-size: 14px;
  }

  .fields {
    padding: 0 25px;
  }

  .spinner-wrapper {
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background: #e5e5e5;

    .spinner {
      position: fixed;
      bottom: calc(50% - 40px);
      left: calc(50% - 40px);
    }
  }

  .error-text {
    color: #f44336;
    font-size: 12px;
    border-top: 2px solid #f44336;
    margin-top: -8px;
    padding-top: 4px;
  }
}