.nav-bar {

  .fa {
    font-size: 24px;
    color: #ffffff;
    padding: 12px 20px;

    &:hover {
      color: black;
      transition-duration: 0.4s;
      text-shadow: 2px 0 8px #404040, 0 0 1em #7b7b7b;
      transition-property: all;
      cursor: pointer;
    }

    &.active {
      color: #ffffff;
      text-shadow: 2px 0 8px #e2e2e2, 0 0 1em #e0e0e0;
      &:hover {
        color: #ffffff;
        text-shadow: 2px 0 8px #e2e2e2, 0 0 1em #e0e0e0;
      }
    }

    .icon-title {
      color: inherit;
      text-shadow: none;
      font-size: 18px;
      padding-left: 10px;
    }
  }
}