.track-item {
  position: relative;
  border-top: 1px solid #dcdcdc;

  &.active {
    background: #d5ffaf;
    &:hover {
      background: #d5ffaf;
    }
  }

  &.error {
    background: #ffdcda;
    &:hover {
      background: #ffdcda;
    }
  }

  &.disabled {
    background: #f1f1f1;
    opacity: 0.5;
    &:hover {
      background: #ebebeb;
      cursor: default;
    }
  }

  .fa-play-circle, .fa-pause-circle {
    font-size: 38px;
    color: #FF5722;

    &:hover {
      color: #db6844;
    }
  }
  .spinner-wrapper {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(225, 225, 225, 0.5);
  }

  .song-info {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    .singer {
      font-weight: 600;
    }

    .divider {
      padding: 0 4px;
    }
  }
}