.track-item {
  position: relative;
  border-top: 1px solid #dcdcdc;

  &.active {
    background: #e1f1f9;
    &:hover {
      background: #e1f1f9;
    }
  }

  &.error {
    background: #ffe9e9;
    &:hover {
      background: #ffe9e9;
    }
  }

  &.disabled {
    background: #f1f1f1;
    opacity: 0.5;
    &:hover {
      background: #ebebeb;
      cursor: default;
    }
  }

  .fa-play-circle, .fa-pause-circle {
    font-size: 38px;
    color: #FF9800;
    transition-duration: 0.4s;
    transition-property: color;
    &:hover {
      color: #db6844;
    }
  }
  .spinner-wrapper {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(225, 225, 225, 0.5);
  }
}