.tracks {
  margin-top: 20px;
  position: relative;
  border: 1px solid #dcdcdc;

  .spinner-container {
    position: relative;
    display: flex;
    bottom: 0;
    padding: 4px;
    min-height: 40px;
    align-items: center;
    background: #e6e6e6;
    justify-content: center;

    &.hidden {
      display: none;
    }

    .spinner {
      position: relative;
      left: -20px;
      top: -20px;
    }
  }
}