.login-dialog-content {
  margin-top: 15px;

  .social-login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    .fa {
      font-size: 36px;
      padding: 0 15px;

      &:hover {
        text-shadow: 2px 0 8px #00BCD4, 0 0 1em #ffffff;
        cursor: pointer;
      }

      &.fa-google-plus-square {
        color: #ea4335;
      }

      &.fa-soundcloud {
        color: orangered;
      }

      &.fa-facebook-square {
        color: #264285;;
      }

      &.fa-vk {
        color: #4c75a3;
      }
    }
  }
}