.login-dialog-content {
  margin-top: 15px;

  .social-login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    .fa {
      font-size: 36px;
      padding: 0 15px;

      &:hover {
        cursor: pointer;
      }

      &.fa-google {
        color: #1976d2;
        &:hover {
          text-shadow: 2px 0 8px #1976d2, 0 0 1em #ffffff;
        }
      }

      &.fa-soundcloud {
        color: orangered;
        &:hover {
          text-shadow: 2px 0 8px orangered, 0 0 1em #ffffff;
        }
      }

      &.fa-facebook-square {
        color: #264285;
        &:hover {
          text-shadow: 2px 0 8px #264285, 0 0 1em #ffffff;
        }
      }

      &.fa-vk {
        color: #4c75a3;
        &:hover {
          text-shadow: 2px 0 8px #4c75a3, 0 0 1em #ffffff;
        }
      }
    }
  }
}