.title-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.login-dialog-content {
  margin: 10px 0;
  position: relative;
  overflow: hidden;

  .divider-section {
    margin: 0 25px;
    display: flex;
    align-items: center;

    .divider {
      border-bottom: 1px solid #a7a7a7;
      display: inline-block;
      width: 100%;
    }

    .divider-txt {
      padding: 0 10px;
    }
  }

  .login-default {
    padding: 0 25px;
  }

  .social-login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;

    .fa {
      font-size: 36px;
      padding: 0 15px;

      &:hover {
        cursor: pointer;
      }

      &.fa-google {
        color: #1976d2;
        &:hover {
          text-shadow: 2px 0 8px #1976d2, 0 0 1em #ffffff;
        }
      }

      &.fa-soundcloud {
        color: orangered;
        &:hover {
          text-shadow: 2px 0 8px orangered, 0 0 1em #ffffff;
        }
      }

      &.fa-facebook-square {
        color: #264285;
        &:hover {
          text-shadow: 2px 0 8px #264285, 0 0 1em #ffffff;
        }
      }

      &.fa-vk {
        color: #4c75a3;
        &:hover {
          text-shadow: 2px 0 8px #4c75a3, 0 0 1em #ffffff;
        }
      }
    }
  }

  .spinner-wrapper {
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background: #e5e5e5;
    opacity: 0.75;

    .spinner {
      position: fixed;
      bottom: calc(50% - 40px);
      left: calc(50% - 40px);
    }
  }
}