.global-spinner {
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;

  &.active {
    z-index: 9999;
    transition-duration: 1s;
    transition-property: background;
    background: rgba(184, 184, 184, 0.50);
  }

  .spinner {
    position: fixed;
    bottom: calc(50% - 40px);
    left: 50%;
  }
}
