.track-bar {
  border-top: 4px solid #515151;
  padding: 0 10px;

  .time-bar {
    width: 100%;
  }

  .progress-section {
    position: absolute;
    width: 99%;
    height: 4px;
    top: 10px;
    background: #979797;

    .buffered {
      background: #651c05;
      width: 90%;
      height: 4px;
    }
  }
}