.track-bar {
  border-top: 4px solid #1dd9f1;
  padding: 0 10px;

  .time-bar {
    width: 100%;
  }

  .progress-section {
    position: absolute;
    width: 99%;
    height: 4px;
    top: 10px;
    background: #979797;

    .buffered {
      background: #3b4d55;
      height: 4px;
    }
  }
}