.music-panel {
  width: 100%;
  display: flex;
  align-items: center;
  height: 55px;
  background-color: #272727;

  .img-container {
    display: flex;
    margin-right: 15px;
    background: #FFC107;
    border-radius: 50%;

    img {
      width: 55px;
      height: 55px;
    }
  }

  .player-actions {
    display: flex;

    .fa {
      font-size: 24px;
      padding: 0 15px;
      cursor: pointer;
      color: #9E9E9E;

      &:hover {
        color: #FFC107;
      }
    }
  }
}