.music-panel {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 55px;

  .img-container {
    display: flex;
    margin-right: 15px;
    background: #FFC107;
    border-radius: 50%;

    img {
      width: 55px;
      height: 55px;
    }
  }

  .player-actions {
    display: flex;

    .fa {
      font-size: 24px;
      min-width: 24px;
      padding: 15px;
      cursor: pointer;
      color: #9E9E9E;

      &:hover {
        color: #7dca38;
      }
    }
  }

  .timer {
    padding: 0 10px;
    color: white;
  }

  .volume {
    margin-left: 15px;
    display: flex;
    flex: 0.2;

    .volume-icon {
      flex: 0.3;

      .fa {
        font-size: 18px;
        color: #9E9E9E;

        &:hover {
          cursor: pointer;
        }
      }

      .fa-volume-off {
        color: #ff1100;
      }
    }

    .volume-slider {
      flex: 1;
    }
  }

  .track-bar {
    flex: 1;
    margin: 0 5px;
  }
}