#app {
  min-height: 100%;
  background: #f3f3f3;
}

.app-content {
  height: 100%;

  main {
    padding: 75px 15px 10px 15px;
    display: flex;
    max-width: 1140px;
    flex-direction: column;
    margin: 0 auto 65px auto;
  }

  footer {
    width: 100%;
    display: flex;
    position: fixed;
    z-index: 9999;
    bottom: 0;
  }
}