.app-content {
  main {
    padding: 20px 10px;
    display: flex;
    max-width: 1140px;
    flex-direction: column;
    margin: 0 auto;
  }
  footer {
    position: fixed;
    width: 100%;
    display: flex;
    bottom: 0;
  }
}