.player-actions {
  display: flex;

  .fa {
    font-size: 24px;
    min-width: 24px;
    padding: 15px;
    cursor: pointer;
    color: #9E9E9E;

    &.fa-pause {
      color: #7dca38;
    }

    &:hover {
      color: #7dca38;
    }
  }
}