.user-data {
  color: black;
  display: flex;
  align-items: center;

  .default-user {
    cursor: pointer;

    &:hover {
      color: white;
    }

    .fa-user-circle-o {
      font-size: 24px;
      padding: 0 10px;
    }
  }
}
