.card {
  width: 265px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;

  .card-header {
    padding: 10px;
    border-bottom: 4px solid #d12f4b;

    .title {
      color: #607D8B;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: bold;
      padding-bottom: 8px;
    }

    .sub-title {
      color: #4f4f4f;
      font-size: 14px;
      font-weight: bold;
    }
  }

  .card-body {
    position: relative;
    display: flex;

    &:hover {
      .fa-play-circle, .shadow-wrap {
        visibility: visible;
        opacity: 1;
      }
    }

    .shadow-wrap {
      background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
      position: absolute;
      visibility: hidden;
      opacity: 0;
      width: 100%;
      height: 100%;
    }

    .fa-play-circle {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      font-size: 82px;
      transition: opacity .2s,visibility .2s;
      z-index: 100;
      color: #8BC34A;
      left: 34%;
      top: 34%;
      right: 34%;
      bottom: 34%;

      &:hover {
        cursor: pointer;
        color: #4CAF50;
      }
    }

    img {
      width: 100%;
      height: 100%;
    }
  }
}