.app-bar {
  background: black;
  min-height: 60px;
  display: flex;
  align-items: center;
  padding: 0 24px;
  border-bottom: 2px solid #7dca38;

  .logo-section {
    margin-right: 30px;

    .fa-music {
      font-size: 24px;
      padding: 12px;
      color: #00BCD4;
    }
    .app-title {
      color: #00bcd4;
      font-size: 24px;
      padding: 0 18px;
    }
  }

  .nav-section {
    flex: 1;
  }

  .user-section {
    flex: 0.3;

    .fa-user-circle-o {
      font-size: 24px;
      padding: 0 24px;
      color: #c2c2c2;
    }
  }
}