.app-bar {
  background: black;
  min-height: 60px;
  position: fixed;
  width: 100%;
  z-index: 99999;
  display: flex;
  align-items: center;
  padding: 0 24px;
  border-bottom: 4px solid #515151;

  .logo-section {
    margin-right: 10px;

    .fa-cog {
      font-size: 30px;
      padding: 5px;
      color: #c2c2c2;
      margin-right: 15px;

      &:hover {
        color: #898989;
        cursor: pointer;
      }

      &.active {
        transition-duration: 0.4s;
        transition-property: transform;
        transform: rotate(45deg);
      }
    }

    .app-title {
      color: #7dca38;
      font-size: 24px;
      padding: 0 5px;
    }
  }

  .nav-section {
    flex: 1;
  }

  .user-section {
    flex: 0.5;
  }
}