.artists {
  .artist {
    &:hover {
      background: #ededed;
      cursor: pointer;
    }
    &.active {
      background: #caffd5;

      &:hover {
        background: #c7ffb7;
      }

      .fa-play-circle {
        color: orangered;
      }
    }

    .artist-name {
      font-size: 18px;
      color: #5b15d7;

      &:hover {
        color: #8952eb;
      }
    }

    .tags {
      display: flex;
    }
  }

  .music-actions {
    color: #808080;
    font-weight: 600;

    .fa {
      margin-right: 10px;
    }
  }
}